<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testrecycler">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GiaoDien.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GiaoDien.ActivitySplashScreen"
            android:theme="@style/AppTheme.NoActionBar"> <!-- Gọi để bỏ thanh action Bar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GiaoDien.ActivitySuaKH"
            android:label="Sửa khách hàng" />
        <activity
            android:name=".GiaoDien.ActivityThemKH"
            android:label="Thêm khách hàng" />
        <activity
            android:name=".GiaoDien.ActivitySuaSP"
            android:label="Sửa sản phẩm" />
        <activity
            android:name=".GiaoDien.ActivityThemSP"
            android:label="Thêm sản phẩm" />
        <activity
            android:name=".GiaoDien.ActivitySuaDH"
            android:label="Sửa đơn hàng" />
        <activity
            android:name=".GiaoDien.ActivityThemDH"
            android:label="Thêm đơn hàng" />
        <activity
        android:name=".GiaoDien.ActivityDoiNgonNgu"
        android:label="Đổi ngôn ngữ" />
        <activity
            android:name=".GiaoDien.ActivityAboutUs"
            android:label="About Us" />
    </application>

</manifest>